html
    head
        title= "Lesson 6"
        link(
            rel= "stylesheet"
            type="text/css"
            href="css/style.css"
        )
    body
        h1(class="pug") "Powered by PUG"
        ul(id='list')
           each msg in messages
            li= msg.addedAt
                br
                span= msg.sender
                    br
                b= msg.text

